<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" href="main.css">
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="main.js"></script>
</head>
<body>
<div id="absolute">
	<h1>Test</h1>
	<div id="serverData"></div>
	<div>Create a new Collection:</div>

		Name:
		<input type="text" id="createCollectionName">
		<button id="createCollectionBtn">Create!</button>

	<div id="collectionStatus">Status: </div>
</div>
<div class="gridContainer">
	<% if (!login) {%>
		<div id="login">
			<form onsubmit="login()" id="loginForm">


			</form>
		</div>
		<div id="register">
			<form onsubmit="register()" id="register">


			</form>
		</div>
	<% } else { %>
		<div id="welcomeHeader"></div>
		<div id="gameBtns"></div>
	<% } %>
	<div id="credits">
		<p id="version"></p>
		<p id="creators"></p>
		<p id="links"></p>
	</div>
</div>
</body>
</html>
